:root {
  --fmOs: "Open Sans", sans-serif;
  --fmRl: "Raleway", sans-serif;

  /* змінні шрифтів */
  --fs-42: 42px;
  /* змінні на кольори */
  --c-red: red;
  --c-lgray: #9da4bd;
  --с-gray: #555555;
  --c-dark: #303030;
  --c-orange: #ff6c00;
  --c-white: #fff;
  /* змінні на загальні елементи */
  --bg-red: red;
  --bg-white: #fff;
  /* змінні контейнеру */
  --coontainer-padding: 15px;
}
/* @font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  src:  url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  src:  url('../fonts/Roboto-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
} */

/* тег */

body {
  font-family: var(--fmOs);
  /* font-family: "Raleway", sans-serif; */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--coontainer-padding);
}
.section {
  padding: 120px 0;
}
button {
  cursor: pointer;
}

.btn {
  width: fit-content;
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--c-dark);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  woff woff2
} */
ul {
  list-style: none;
}
/*  клас */
.header {
  background-color: blueviolet;
}
.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: var(--c-white);
  text-decoration: none;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--c-dark);
  text-decoration: none;
}
.social-link:hover,
.social-link:focus {
  color: var(--c-orange);
}
.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  color: var(--c-dark);
  text-transform: uppercase;
}
.uptitle-white {
  color: rgba(157, 164, 189, 0.6);
}
.section-title {
  font-family: var(--fmRl);
  font-size: var(--fs-42, 42px);
  line-height: 1.1666;
  color: var(--c-dark);
  letter-spacing: 0.05em;
}

/*  */
.header-block {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-link:hover,
.header-link:focus {
  color: var(--c-orange);
}
.navigation-list {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 30px;
}
.header-link {
  display: block;
  padding: 52px 0;
}
.header-btns {
  margin-left: auto;
}
/* .header-link:focus {
  color: #ff6c00;
} */
.header-contact {
  text-transform: uppercase;
}
.header-btn {
  margin-left: 40px;
  color: var(--c-white);
}
/* .f-letter {
  font-size: 16px;
  color: #fff;
}
.f-letter::first-letter {
  font-size: 30px;
} */
/* .header {
} */
.header-logo {
  display: block;
}
/* .navigation {
  background-color: cadetblue;
} */
/* ID */

/* #navigation{
    background-color: bisque;
} */

/* .navigation>ul{
    list-style: none;
} */
/* .navigation-red {
  background-color: red;
} */
/* шукаємо нащадка */
.navigation .navigation-red {
  background-color: blue;
}

/* модифікуємо батька */
.navigation.navigation-red {
  background-color: blueviolet;
}
/*  */
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}

/* hero */
.hero {
  background-color: blueviolet;
}
.hero-block {
  display: flex;
}
.hero-socials {
  padding: 27px 0 58px 40px;
  background: var(--c-white);
}
/* .hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
} */
.hero-content {
  width: calc(100% - 114px);
  padding: 272px 0 40px 100px;
}
.hero-title {
  margin: 20px 0;
  font-family: var(--fmRl);
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.hero-desc {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}
.hero-btn {
  min-width: 60px;
  padding: 0 0 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}
.hero-content__btns {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 144px;
}
.hero-btn-prev {
  text-align: left;
}
.hero-btn-next {
  text-align: right;
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn.active {
  color: var(--c-white);
}

/* about */
.about-block {
  display: flex;
  gap: 30px;
}
.about-works {
  display: flex;
  gap: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-subtitle {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}
.about-desc {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}

/* тестова сторінка */
.test {
  width: 200px;
  height: 200px;

  padding: 10px;
  padding: 20px 0;
  padding: 20px 0 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*  */
  /* margin: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; */
  margin: 20px 0;
  margin: 20px 0 50px;

  border: 10px solid red;
  background: aqua;
}
.text p {
  background-color: #ff6c00;
  margin: 20px 0;
}
.text p:first-child {
  margin-top: 0;
}
.text p:nth-child(4) {
  font-size: 18px;
  color: #fff;
}
.text p:nth-last-child(2) {
  background-color: red;
}

.text h3 {
  background-color: #555555;
  margin: 30px 0;
}
.text h3:last-child {
  margin-bottom: 0;
}
.table {
  margin: 50px;
  background: aqua;
  width: 100%;
}

.table-body tr:nth-child(odd) {
  background-color: #ff6c00;
}
.table-body tr:nth-child(even) {
  background-color: #303030;
}
.block {
  display: flex;
  margin: 50px auto;
  background: #ff6c00;
  height: 200px;
}
.block-test {
  width: 200px;
  height: 50px;
}
.block-span {
  background-color: yellowgreen;
  padding: 20px;
}
.block-1 {
  background-color: #9da4bd;
}
.block-2 {
  background-color: blueviolet;
}
.block-3 {
  background-color: blue;
}
/* .block-test{
  margin-right: 50px;
}
.block-test:last-child{
  margin-right: 0;
} */
/* .block-test:nth-child(3n) {
  margin-right: 50px;
}
.block-test:not(:last-child) {
  margin-right: 50px;
} */
