:root {
  --fmOs: "Open Sans", sans-serif;
  --fmRl: "Raleway", sans-serif;

  /* змінні шрифтів */
  --fs-42: 42px;
  /* змінні на кольори */
  --c-red: red;
  --c-lgray: #9da4bd;
  --с-gray: #555555;
  --c-grayl: #757575;
  --c-dark: #303030;
  --c-orange: #ff6c00;
  --c-white: #fff;
  /* змінні на загальні елементи */
  --bg-red: red;
  --bg-white: #fff;
  --bg-lgray: #f7f7f7;
  --bg-blue: #2196f3;
  /* змінні контейнеру */
  --coontainer-padding: 15px;
}
/* @font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  src:  url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  src:  url('../fonts/Roboto-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
} */

/* тег */

body {
  font-family: var(--fmOs);
  /* font-family: "Raleway", sans-serif; */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--coontainer-padding);
}
.section {
  padding: 120px 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  width: fit-content;
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--c-dark);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  woff woff2
} */
ul {
  list-style: none;
}
/*  клас */
.header {
  /* background-color: blueviolet; */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: var(--c-white);
  text-decoration: none;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--c-dark);
  text-decoration: none;
}
.social-link:hover,
.social-link:focus {
  color: var(--c-orange);
}
.uptitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  color: var(--c-dark);
  text-transform: uppercase;
}
.uptitle-white {
  color: rgba(157, 164, 189, 0.6);
}
.section-title {
  font-family: var(--fmRl);
  font-size: var(--fs-42, 42px);
  line-height: 1.1666;
  color: var(--c-dark);
  letter-spacing: 0.05em;
}

/*  */
.header-block {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-link:hover,
.header-link:focus {
  color: var(--c-orange);
}
.navigation-list {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 30px;
}
.header-link {
  display: block;
  padding: 52px 0;
}
.header-btns {
  margin-left: auto;
}
/* .header-link:focus {
  color: #ff6c00;
} */
.header-contact {
  text-transform: uppercase;
}
.header-btn {
  margin-left: 40px;
  color: var(--c-white);

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  /* transition-delay: 0; */

  transition: background-color 500ms ease-in-out, color 500ms ease;
  /* transition: ease-in-out 0.5s; */
}
.header-btn:hover,
.header-btn:focus {
  color: #000;
  background-color: var(--c-orange);
}

@keyframes opacityAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
/* .f-letter {
  font-size: 16px;
  color: #fff;
}
.f-letter::first-letter {
  font-size: 30px;
} */
/* .header {
} */
.header-logo {
  display: block;
}

.modal-wrap {
  /* display: none; */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  height: 100%;
  max-height: 580px;
  padding: 40px;
  background-color: var(--bg-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--bg-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-modal::before,
.close-modal::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  background: #000000;
  width: 15px;
  height: 2px;
  transition: transform 0.4s ease-in-out;
}
.close-modal::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close-modal::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-modal:hover::after,
.close-modal:hover::before,
.close-modal:focus::after,
.close-modal:focus::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.form-row:not(:last-child) {
  margin-bottom: 10px;
}
.form-row {
  position: relative;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}
.form-row-title {
  display: block;
  margin-bottom: 4px;

  color: var(--c-grayl);
}
.form-row-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 10px 10px 42px;
  outline: none;
}
.form-row-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-row-input:focus {
  border: 1px solid #2196f3;
}
.form-row-input:focus + svg {
  fill: #2196f3;
}
.form-row svg {
  position: absolute;
  top: 27px;
  left: 12px;
  transition: fill 0.3s ease-in-out;
}
.privacy label {
  position: relative;
}
.privacy input {
  display: none;
}
.privacy {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--c-grayl);
}
.privacy label::before {
  /* position: absolute; */
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--c-grayl);
  border-radius: 2px;
}
.privacy input:checked + label::before {
  background-color: var(--bg-blue);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--bg-blue);
}
/* .navigation {
  background-color: cadetblue;
} */
/* ID */

/* #navigation{
    background-color: bisque;
} */

/* .navigation>ul{
    list-style: none;
} */
/* .navigation-red {
  background-color: red;
} */
/* шукаємо нащадка */
.navigation .navigation-red {
  background-color: blue;
}

/* модифікуємо батька */
.navigation.navigation-red {
  background-color: blueviolet;
}
/*  */
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}

/* hero */
.hero-block {
  position: relative;
  display: flex;
}
.hero-socials {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0 58px 40px;
  background: var(--c-white);
  display: flex;
  gap: 40px;
  transform: translate(-41px, -50px) rotate(-90deg);
}
/* .hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
} */
.hero-content {
  width: calc(100% - 114px);
  padding: 272px 20px 40px 100px;
  margin-left: auto;
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  /* background-position: 5% 5%; */
}
.hero-title {
  margin: 20px 0;
  font-family: var(--fmRl);
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.hero-desc {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}

/* .header-contact::before{
  content: url(../images/envelope.svg);
}
.header-contact::after{
  content: url(../images/envelope.svg);
} */
.hero-btn {
  position: relative;
  min-width: 60px;
  /* padding: 0 0 8px; */
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  background: transparent;
  border: none;
  /* border-bottom: 1px solid rgba(157, 164, 189, 0.6); */
}
.hero-btn:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  margin-top: 8px;
  background: rgba(157, 164, 189, 0.6);
}
.hero-content__btns {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 144px;
}
.hero-btn-prev {
  text-align: left;
}
.hero-btn-next {
  text-align: right;
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn.active {
  color: var(--c-white);
}

/* about */
.about-block {
  display: flex;
  gap: 30px;
}
.about-works {
  display: flex;
  gap: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-subtitle {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}
.about-desc {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.02em;
  color: var(--с-gray);
}

/* барберы */
.barbers {
  background-color: var(--bg-lgray);
}
.barbers-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}
.barbers-item {
  flex-basis: 33.333%;
  text-align: center;
}
.barbers-desc {
  padding: 30px 10px 0;
}
.barbers-item-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.3838;
  letter-spacing: 0.02em;
  color: var(--c-dark);
}
.barbers-item-desc {
  font-size: 14px;
  line-height: 1.3571;
  letter-spacing: 0.02em;
  color: var(--c-orange);
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-white);
  color: inherit;
  text-decoration: none;
  color: var(--c-orange);
}
/* .icon-test{
  fill: var(--c-orange);
}
.icon-test:hover{
  fill: red;
} */
/* .icon{
  fill: currentColor;
} */
.social-item-link:hover,
.social-item-link:focus {
  fill: var(--c-orange);
}

/* тестова сторінка */
.test {
  width: 200px;
  height: 200px;

  padding: 10px;
  padding: 20px 0;
  padding: 20px 0 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*  */
  /* margin: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; */
  margin: 20px 0;
  margin: 20px 0 50px;

  border: 10px solid red;
  background: aqua;
}
.text p {
  background-color: #ff6c00;
  margin: 20px 0;
}
.text p:first-child {
  margin-top: 0;
}
.text p:nth-child(4) {
  font-size: 18px;
  color: #fff;
}
.text p:nth-last-child(2) {
  background-color: red;
}

.text h3 {
  background-color: #555555;
  margin: 30px 0;
}
.text h3:last-child {
  margin-bottom: 0;
}
.table {
  margin: 50px;
  background: aqua;
  width: 100%;
}

.table-body tr:nth-child(odd) {
  background-color: #ff6c00;
}
.table-body tr:nth-child(even) {
  background-color: #303030;
}
.block {
  /* display: flex; */
  margin: 50px auto;
  background: #ff6c00;
  height: 600px;
}
/* .block-test {
  width: 200px;
  height: 50px;
} */
.block-span {
  background-color: yellowgreen;
  padding: 20px;
}
.block-1 {
  width: 200px;
  height: 200px;
  background-color: #9da4bd;
}
.block-2 {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  animation: opacityAnim 1s linear 5s infinite;
}
.block-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
/* .block-test{
  margin-right: 50px;
}
.block-test:last-child{
  margin-right: 0;
} */
/* .block-test:nth-child(3n) {
  margin-right: 50px;
}
.block-test:not(:last-child) {
  margin-right: 50px;
} */

.test-image {
  width: 600px;
  height: 400px;

  /* для html */
  object-fit: cover;
  object-position: center;

  /* для css */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-image: url(../image/slider.svg);*/
}
/* .form {
  padding: 50px 20px;
  border: 2px solid #000;
  max-width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  height: 120px;
  resize: none;
}

.checkboxesm {
  margin-bottom: 20px;
}
select {
  margin: 20px 0;
} */
