:root {
  --fmOs: "Open Sans", sans-serif;
  --fmRl: "Raleway", sans-serif;

  /* змінні шрифтів */
  --fs-42: 42px;
  /* змінні на кольори */
  --c-red: red;
  --c-lgray: #9da4bd;
  --с-gray: #555555;
  --c-grayl: #757575;
  --c-dark: #303030;
  --c-orange: #ff6c00;
  --c-white: #fff;
  --с-lblue: #9da4bd;
  /* змінні на загальні елементи */
  --bg-red: red;
  --bg-white: #fff;
  --bg-lgray: #f7f7f7;
  --bg-blue: #2196f3;
  --bg-dark: #303030;
  --bg-blue-dark: #191c26;
  /* змінні контейнеру */
  --coontainer-padding: 15px;

  /* анімації */
  --time-tr: 250ms;
  --t-func: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // брейкпоінти
  --mobile: 480px;
  --tablet: 768px;
  --desctop: 1200px;
}

// для root змінних
@media screen and (max-width: var(--mobile)) {
}

// для змінних scss
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;

@media screen and (max-width: $mobile) {
}

//
// .dt{ // не вірно
//    @media screen and (max-width: 1200px) {
//     display: none;
//    }
// }

.hero {
  height: 600px;
  background-image: url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/hero/hero-mobile@2x.jpg);
  }

  @media screen and(max-width: 1199px) {
    background-image: url(../images/hero/hero-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 1199px), (min-resolution: 192dpi) and (max-width: 1199px), (min-resolution: 2dppx) and (max-width: 1199px) {
    background-image: url(../images/hero/hero-tablet@2x.jpg);
  }

  //
  @media screen and(min-width: 1200px) {
    background-image: url(../images/hero/hero-desctop.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url(../images/hero/hero-desctop@2x.jpg);
  }
}

// @media (min-device-pixel-ratio: 2) and (min-width: 768px),
//  (min-resolution: 192dpi) and (min-width: 768px),
//  (min-resolution: 2dppx) and (min-width: 768px) {
//   .box {
//     background-image: url(../img/hero-tablet@2x.jpg);
//   }
// }
