.form-row:not(:last-child) {
    margin-bottom: 10px;
}

.form-row {
    position: relative;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
}

.form-row-title {
    display: block;
    margin-bottom: 4px;

    color: var(--c-grayl);
}

.form-row-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px 10px 10px 42px;
    outline: none;
}

.form-row-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-row-input:focus {
    border: 1px solid #2196f3;
}

.form-row-input:focus+svg {
    fill: #2196f3;
}

.form-row svg {
    position: absolute;
    top: 27px;
    left: 12px;
    transition: fill 0.3s ease-in-out;
}

.privacy label {
    position: relative;
}

.privacy input {
    color: #fff;
}

.privacy input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.privacy {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--c-grayl);
}

.privacy label::before {
    /* position: absolute; */
    cursor: pointer;
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid var(--c-grayl);
    border-radius: 2px;
}

.privacy input:checked+label::before {
    background-color: var(--bg-blue);
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--bg-blue);
}