.header {
  /* background-color: blueviolet; */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  // @include flexed(center, center);

  &-logo {
    margin-right: 131px;
  }
  

  &__link{
    &.current{
      color: blue;
    }
  }


  &-btn{
    color: var(--c-white);
  }
}

